<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="j5TtxkXz1bdjMN2haDQiF9pz91KDptWryLga9mHPT5w" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
  </body>
</html>
